---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for p in staticPages %}
  <url>
    <loc>{{ site.url }}{{ p.loc }}</loc>
    {%- for alt in p.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alt.lang }}" href="{{ site.url }}{{ alt.href }}"/>
    {%- endfor %}
    <lastmod>{{ p.lastmod | isoDate }}</lastmod>
    <changefreq>{{ p.changefreq }}</changefreq>
    <priority>{{ p.priority }}</priority>
  </url>
{%- endfor %}
{%- for article in collections.insights %}
  <url>
    <loc>{{ site.url }}{{ article.url }}</loc>
    <lastmod>{{ (article.data.dateModified or article.data.datePublished) | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
</urlset>
